
.wrapper
{
	text-align:center;
	margin:auto;
}

.clearboth
{
	clear:both;
}
/* Phần trên cùng của một trang */
.header
{
	color : blue;
	text-align : center;
	font-size : x-large;
	padding : 20px 20px 20px 20px;
}

/*Phần thêm của một trang Admin*/
.add
{
	padding : 30px 30px 30px 30px;
	border-style : dotted;
	border-color : Gray;
	border-width : 1px;
	text-align:left;
}

/*Phần liệt kê các record của một trang admin*/
.list
{
	padding : 30px 30px 30px 30px;
	border-style : dotted;
	border-color : Gray;
	border-width : 1px;
	text-align:left;
}

/*Căn lề cho một thẻ div bất kỳ*/
.round
{
	border: 1px dotted Blue;
	padding: 20px;
}

/*Cột trái của bảng thêm*/
td.left-add
{
	width : 150px;
}

.small-header
{
	text-align : center;
	width : 100%;
	font-size : large;
	padding : 10px 10px 10px 10px;
}

/*Cột phải của bảng thêm*/
td.right-add
{
	width : 70%;
}

/*Định dạng chữ màu đỏ khi báo lỗi*/
.error
{
	color : Red;
}

/*Định dạng chữ màu xanh khi hiển thị thông tin*/
.info
{
	color : Blue;
}

.margin
{
	margin : 10px 10px 10px 10px;
}

.margin-left
{
	margin-left:10px;
}

.right-float
{
	float:right;
}

.left-float
{
	float:left;
}

.button-close
{
	float:right;
}