
/* Phần trên cùng của một trang */
.header
{
	color : blue;
	text-align : center;
	width : 100%;
	font-size : x-large;
	padding : 20px 20px 20px 20px;
}

/*Phần thêm của một trang Admin*/
.add
{
	width : 100%;
	padding : 30px 30px 30px 30px;
	border-style : dotted;
	border-color : Gray;
	border-width : 1px;
}

/*Phần liệt kê các record của một trang admin*/
.list
{
	width : 100%;
	padding : 30px 30px 30px 30px;
	border-style : dotted;
	border-color : Gray;
	border-width : 1px;
	text-align : center;
}

/*Căn lề cho một thẻ div bất kỳ*/
.round
{
	border: 1px dotted Blue;
	padding: 20px;
}

/*Cột trái của bảng thêm*/
td.left-add
{
	width : 30%;
}

.small-header
{
	text-align : center;
	width : 100%;
	font-size : large;
	padding : 10px 10px 10px 10px;
}

/*Cột phải của bảng thêm*/
td.right-add
{
	width : 70%;
}

/*Định dạng chữ màu đỏ khi báo lỗi*/
.error
{
	color : Red;
}

/*Định dạng chữ màu xanh khi hiển thị thông tin*/
.info
{
	color : Blue;
}