body {
}

div
{
	/*border:dotted 1px;*/
}
#wrapper
{
	width:1000px;
	margin-left:10%;

}
.bg
{
    background: -moz-linear-gradient(bottom, #ffffff,#FAFAFA);
    background: -webkit-gradient(linear, center bottom, center top, from(#ffffff), to(#FAFAFA));
}

#header
{

	height: 80px;
	text-align: right;
}
#main
{
	width:1000px;
}

#content
{
	width:800px;
	float:left;
}

#menu
{
	margin-top:10px;
	margin-bottom:30px;
}


#right-panel
{
    margin-top:13px;
	float:left;
	width:200px;
}

#footer
{
	background: -moz-linear-gradient(bottom, #E1E1E1, #ffffff);
    background: -webkit-gradient(linear, center bottom, center top, from(#E1E1E1), to(#ffffff));
	height:20px;
	margin-top:10px;
}

ul#topnav {
    margin: 0; padding: 0;
    float: left;
    width: 1000px;
    list-style: none;
    position: relative; /*--thiết lập vị trí của ul chưa menu--*/
    font-size: 1.0em;
    background: -moz-linear-gradient(bottom, #141414,#4E4C4D);
    background: -webkit-gradient(linear, center bottom, center top, from(#141414), to(#4E4C4D));
      -moz-border-radius:5px;
    -webkit-border-radius:5px;
}
ul#topnav li {
    float: left;
    margin: 0; padding: 0;
    border-right: 1px solid #555; /*-- các menu li --*/
}
ul#topnav li a {
    padding: 10px 15px;
    display: block;
    color: #f0f0f0;
    text-decoration: none;
}
ul#topnav li:hover     
{
     background: -moz-linear-gradient(bottom, #4E4C4D,#141414);
    background: -webkit-gradient(linear, center bottom, center top, from(#4E4C4D), to(#141414));
}


ul#topnav li span {
    float: left;
    padding: 15px 0;
    position: absolute;
    left: 0; top:35px;
    display: none; /*-- mặc định menu cấp 2 là ẩn --*/
    width: 970px;
    /*background: #999999;*/
    color: #000;
    /*--Bottom right rounded corner--*/
    -moz-border-radius-bottomright: 5px;
    -khtml-border-radius-bottomright: 5px;
    -webkit-border-bottom-right-radius: 5px;
    /*--Bottom left rounded corner--*/
    -moz-border-radius-bottomleft: 5px;
    -khtml-border-radius-bottomleft: 5px;
    -webkit-border-bottom-left-radius: 5px;
}

ul#topnav li span a
{
	color:Black;
}
ul#topnav li:hover span { display: block; } /*--hiển thị menu cấp 2 khi đưa chuột vào--*/
ul#topnav li span a { display: inline; } /*-- tất cả các menu câp 2 cùng nằm trên 1 dòng--*/
ul#topnav li span a:hover {text-decoration: underline;}  

div.user-info
{
	width:400px;
	float:right;
}

ul.user-info
{
	list-style:none;
	float:right;
	margin-left:0px;
	width:400px;
}

ul.user-info li
{
	text-align:right;
	/*display:inline;*/
}