div 
{
	/*border:dotted 1px;*/
}

#news
{
	height:auto;	
}
#news-banner
{
	width:600px; 
	float:left;
}
#news-detail
{
	float:left;
	width:200px;
	overflow:auto;
}
#search
{
	clear:both;
	background-image:url(../Images/Apps/Front/bg-search.png);
	padding:10px 1px 3px 1px;
	margin-left:5px;
	margin-right:5px;
}

.border-top
{
	width:800px;
	height:6px;
	margin-top:10px;
}

.border-top-left
{
	width:10px;
	float:left;
	background-image:url(../Images/Apps/Front/bd-top-left.png);
	background-repeat:no-repeat;
	height: 6px;
}

.border-top-center
{
	width:780px;
	float:left;
	background-image:url(../Images/Apps/Front/bd-top-center.png);
	background-repeat:repeat-x;
	height: 6px;
}

.border-top-right
{
	width:10px;
	float:left;
	background-image:url(../Images/Apps/Front/bd-top-right.png);
	background-repeat:no-repeat;
	height: 6px;
}

.border-left
{
	background-image:url(../Images/Apps/Front/bd-left.png);
	background-position: left top;
	background-repeat:repeat-y;
	text-align:left;
}

.border-right
{
	background-image:url(../Images/Apps/Front/bd-right.png);
	background-position: right top;
	background-repeat:repeat-y;
}


.list-product
{
	margin-left:3px;
	margin-right:3px;
}
.list-title
{
	height:24px;
}

.list-title-left
{
	float:left;
	width:200px;
	height:24px;
	background-image:url(../Images/Apps/Front/separated.png);
	background-position:right top;
	background-repeat:no-repeat;
	background-color:#DBDCDF;
	padding-left:10px;
	font-weight:bold;
}

.list-title-right
{
	height:24px;
	background-color:#EEE;
}

.list-detail
{
	margin-top:10px;
}

.border-bottom
{
	width:800px;
	height:6px;
}

.border-bottom-left
{
	width:10px;
	float:left;
	background-image:url(../Images/Apps/Front/bd-bottom-left.png);
	background-repeat:no-repeat;
	height: 6px;
}

.border-bottom-center
{
	width:780px;
	float:left;
	background-image:url(../Images/Apps/Front/bd-bottom-center.png);
	background-repeat:repeat-x;
	height: 6px;
}

.border-bottom-right
{
	width:10px;
	float:left;
	background-image:url(../Images/Apps/Front/bd-bottom-right.png);
	background-repeat:no-repeat;
	height: 6px;
}

.filter
{
	text-align: right; 
	margin-top: 10px; 
	background-color: #FFFFCC; 
	margin-left: 3px; 
	padding-right: 5px;
	margin-right:3px;
}

/*Định dạng chữ màu đỏ khi báo lỗi*/
.error
{
	color : Red;
}
